/* starting ENTER animation */
.messageout-enter {
  opacity: 0.01;
}

/* ending ENTER animation */
.messageout-enter-active {
  opacity: 1;
  transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {
  opacity: 1;
}

/* ending EXIT animation */
.messageout-exit-active {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
